* {
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 800px;
    margin: 10px auto;
    background-color: red;
    border: 1px black solid;
}

.d-flex {
    display: flex;
}

.justify_content_sb {
    justify-content: space-between;
}

.p-10 {
    padding: 10px;
}

.f-col {
    flex-direction: column;
}

.overflow_Y {
    overflow-y: auto;
}

.overflow_X {
    overflow-x: auto;
}