.pink_square {
    width: 200px;
    height: 200px;
    background: fuchsia;
}

.green_square {
    width: 50px;
    height: 50px;
    margin: auto;
    background: lawngreen;
    justify-content: center;
}

.blue_square {
    width: 150px;
    height: 100px;
    background: blue;
    justify-content: space-between;
}