header {
    width: 780px;
    height: 120px;
    margin: 0 auto;
    flex: 1 0 auto;
}

.header_block {
    height: 50px;
    width: 780px;
    background: darkmagenta;
    margin-bottom: 10px;
}

.main_bg {
    background: fuchsia;
}

.content_item {
    background: green;
    width: 240px;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    margin: 10px;
}

.content_item .c_itemS {
    width: 200px;
    height: 150px;
    background: red;
    row-gap: 10px;
    flex-shrink: 0;
}
