.header {
    width: 780px;
    height: 120px;
    background: darkred;
    flex-direction: row;
    margin: 10px auto;
}

.header_item {
    width: 150px;
    height: 75px;
    background: yellow;
    margin-right: 10px;
    flex-shrink: 0;
}

.main_1 {
    height: 50px;
    flex: 1 0 auto;
}

.menu {
    background: darkred;
    flex: 0 0 250px;
    margin-right: 10px;

}

.menu_item {
    min-width: calc(100% - 140px);
    height: 180px;
    background: yellow;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.content {
    background: blue;
    flex-grow: 1;
}